<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boxes</title>
</head>
<body>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">BoxID</th>
        <th scope="col">Stored in:</th>
    </tr>
    </thead>
    <tbody th:each="box : ${boxModels}">
    <tr>
        <td th:text="${box.getBoxId()}"></td>
        <div th:if="${box.getContainedIn() != null}">
            <td th:text="${box.getContainedIn().getBoxId()}"></td>
        </div>
        <div th:if="${box.getContainedIn() == null}">
            <td>NULL</td>
        </div>
    </tr>
    </tbody>
</table>

</body>
</html>